body {
  background-color: #050301;
}
h2 {
  color: #cc7722;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  background: black;
  border: 1px solid white;
  border-radius: 10px;
  position: fixed;
  overflow: hidden;
  width: 80%;
}
li {
  display: inline;
  background-color: black;
  
}
li a:hover {
  background-color: greenyellow;
  color: #cc7722;
}
li a {
  color: white;
  text-decoration: none;
}
#zone {
  color: #cc7722;
}
hr {
  border: 0.01px solid white;
}
#search-container {
  position: absolute;
  top: 6px;
  left: 70%;
  padding: 2px;
  margin: 3px 10px;
}
#search-bar {
  width: 90%;
}
button[type="submit"] {
  padding: 2px;
  margin: 0;
}
p {
  color: whitesmoke;
}
table, th, tr {
  border: 1px solid white;
  border-radius: 10px;
}
#gone {
  color: #cc7722;
}
#stat {
  color: #cc7722;
}
#done {
  color: #cc7722;
}
.lid {
  color: #FFA500;
}
.lod {
  color: #cc7722
}
.look {
  color: #FFA500;
}
#myheader2 {
  width: 80%;
  color: #FFA500;
  border-radius: 8px;
  background-color: #0C0A00;
  height: 60%;
}
#location {
  color: #000000;
  border-radius: 12px;
}
#number {
  color: #000000;
  border-radius: 12px;
}
#type {
  color: #000000;
  border-radius: 12px;
}
#cli {
  border-radius: 8px;
  border-width: 6px;
  background-color: #FFA500;
  color: solid #000000;
}
#inter {
  border-radius: 8px;
  border-width: 6px;
  background-color: #FFA500;
  color: solid #000000;
}